.calendar-months {
    width: 75%;
    position: relative;
    
    .calendar-months-drag  {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    
    i.more {
        height: 24px;
        background-color: aliceblue;
        text-align: center;
        display: block;
        cursor: pointer;
        z-index: 2;
        position: relative;
        font-size: 18px;

        &:before {
          transform: scale(1);
          transition: .2s;
        }

        &:hover:before {
          transform: scale(1.3);
        }
    }
    
    .calendarmonth {
        padding: 15px 10px;
        z-index: 2;
        position: relative;
        
        .calendarmonth-days {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
        }
        
        .calendarmonth-title {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 15px;
            
            i {
                color: #333;
                position: absolute;
                right: 13px;
                cursor: pointer;

                &.active {
                    color: #999;
                }
            }
        }
        
        .calendarcell {
            display: inline-flex!important;
            align-self: stretch;
            min-height: 43px;
            width: 14%;
            padding: 10px 5px;
            border: 1px solid #fff;
            border-radius: 20px;
            background-color: #faf6cc;
            position: relative;
            
            &.disabled {
                background-color: #ccc;
            }
            
            &.transp {
                cursor: default;
                background-color: rgba(200, 200, 200, 1)!important;
                border: 2px solid #fff;
                color: rgba(0,0,0,0);
                pointer-events: none;
                box-shadow: inset 0px 0px 6px 9px #fff;
            }
            
            &.today:not(.transp) {
                box-shadow: inset 0px 0px 26px 10px #badf61;
                border: 2px solid #a5c558;
            }
            
            .calendarcell-date {
                position: absolute;
                width: calc(100% - 10px);
            }

            .calendarcell-events {
                text-align: left;
                width: 100%;
                margin-top: 25px;
            }
        }
    }
}