.trashbutton {
  border-top-left-radius: 10px;
  font-size: 41px;
  position: fixed;
  height: 56px;
  width: 60px;
  background-color: #333;
  bottom: 0px;
  right: 25%;
  text-align: center;
  color: #999;
  z-index: 3;
}