.eventeditor {
    margin-bottom: 15px;
    min-height: 250px;
    
    .eventeditor-wrap {
        position: relative;
        
        .eventeditor-tileeditor {
            width: 47px;
            display: inline-block;
            vertical-align: top;
            
            .eventeditor-tileeditor-popup {
                height: 0px;
                overflow: hidden;
                opacity: 0;
                position: absolute;
                left: 0px;
                top: 0px;
                
                img {
                    height: 30px;
                    width: 30px;
                    background-color: #fff;
                    border-radius: 4px;
                    margin: 2px;
                    transition: .2s;
                    vertical-align: middle;
                    transform: scale(1);
                    
                    &:hover {
                        transform: scale(1.3);
                        background-color: #fff;
                    }
                }
            }
            
            &:hover .eventeditor-tileeditor-popup {
                height: auto;
                overflow: visible;
                display: block;
                padding: 0px 3px 3px 0px;
                margin-left: 40px;
                transition: opacity .3s;
                opacity: 1;
            }
        }

        .eventeditor-mainform {
          
          input, textarea {
              background-color: rgba(0,0,0,0);
              border: none;
              border-bottom: 2px solid #666;
              display: block;
              width: 100%;
              outline: none!important;
          }
          
          textarea {
              height: 27px!important;
              resize: none;
          }
          
          .multiple {
              display: block;
              width: 100%;
          }
        }

        .eventeditor-options {
            position: absolute;
            top: 0px;
            left: 70px;
            
            i {
                font-size: 18px;
                padding: 0px 9px;
                color: #222;
                transition: .3s;
                
                &.reversex:before {
                    transform: scaleX(-1);
                }
                
                &:hover {
                    color: #eee;
                }
            }
        }
    }
}