.sidebar {
    overflow-y: auto;
    position: fixed;
    width: 25%;
    bottom: 0px;
    top: 0px;
    right: 0px;
    background-color: #333;
    color: #fff;
    padding: 15px;
    
    .sidebar-events {
        max-height: 300px;
        overflow-y: auto;
    }

    .sidebar-addevent {
        border: 3px dashed #222;
        font-size: 22px;
        font-weight: bold;
        width: 40px;
        text-align: center;
        border-radius: 5px;
        padding-bottom: 2px;
        cursor: pointer;
        margin: 3px;
        display: inline-block;
        vertical-align: middle;
        color: #222;
    }
}