.event {
    background-color: #fff;
    height: 35px;
    width: 35px;
    border-radius: 9px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 3px;
    opacity: 1;
    transform: scale(1);
    transition: .3s;
    cursor: pointer;
    
    &.done {
        opacity: .6;
    }
    
    &.selected {
        transform: scale(1.3);
    }
    
    &:hover {
        transform: scale(1.3);
        opacity: 1;
    }
    
    img {
        height: 100%;
        width: 100%;
    }
}

.event-priority {
    position: absolute;
    height: 100%;
    width: 4px;
    left: -5px;
    top: 2px;
    opacity: .6;
    
    &.critical {
        background-color: #e982a8;
    }
    
    &.high {
        background-color: #ffd400;
    }
    
    &.regular {
        background-color: #55b1df;
    }
    
    &.after {
        background-color: gray;
    }
}
