.header {
    background-color: #333;
    position: fixed;
    width: 75%;
    z-index: 3;
    top: 0px;
    
    .header-link {
        color: #999;
        font-weight: bold;
        display: inline-block;
        padding: 10px;
        cursor: pointer;
        transition: .3s;
        
        &.active {
            color: #fff;
        }
        
        &:hover {
            color: #fff;
        }
    }
}