* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    padding-bottom: 0px!important;
}

body {
    font-size: 14px!important;
    padding-top: 40px;
    letter-spacing: .3px;
}

/* placeholder color */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bbb;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #bbb;
}
