/* .list-events>div:first-child .event-priority {
    border-top-right-radius: 4px 10px;
}

.list-events>div:last-child .event-priority {
    border-bottom-right-radius: 4px 10px;
} */

.lists-lists {
    width: 75%;
    position: absolute;
    background-color: #a1d2b9;
    min-height: 100%;
    
    .lists-lists-drag  {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    
    .list {
        width: 22%;
        display: inline-block;
        vertical-align: top;
        margin: 20px 1.5%;
        border-radius: 4px;
        background-color: #fff;
        min-height: 80px;
        padding: 0px 5px;
        position: relative;
        z-index: 2;
        float: left;
        
        input {
            outline: none;
            border: 0;
            border-bottom: 1px solid #999;
            width: 100%;
        }
        
        &.short {
            .list-events {
                display: none;
            }
            .ion-android-more-horizontal {
                color: #999;
            }
        }
        
        .ion-android-more-horizontal {
            color: #666;
        }
        
        .out {
            position: absolute;
            display: block;
            height: 21px;
            width: 21px;
            text-align: center;
            color: #ccc;
            right: -2px;
            top: calc(50% - 10px);
            transition: .3s;
            cursor: pointer;
            
            i:hover {
              color: #666
            }
        }
        
        .list-options {
            text-align: right;
            position: relative;
            
            div {
                color: #999;
                top: 3px;
                position: absolute;
            }
            
            i {
                margin: 0px 3px;
                cursor: pointer;
                color: #ccc;
                transition: color .3s;
                vertical-align: middle;
                
                &:last-child {
                    position: absolute;
                    top: -22px;
                    right: 0px;
                }
                
                &:hover {
                    margin: 0px 3px;
                    color: #666
                }
            }
            
            .priority-ind {
                display: inline-block;
                height: 6px;
                width: 6px;
                vertical-align: middle;
                margin: 0px 7px 2px 2px;
                position: static!important;
                border-radius: 50%;
                opacity: .7;
                
                &.regular {
                    background-color: #55b1df;
                }
                
                &.high {
                    background-color: #ffd400;
                }
                
                &.critical {
                    background-color: #e982a8;
                }
            }
        }

        .list-events {
          
            >div {
                border-bottom: 1px dotted #ccc;
                padding: 3px 0px;
                position: relative;
                
                .event {
                    display: inline-block;
                    vertical-align: middle;
                }
                
                .list-events-props {
                    display: inline-block;
                    vertical-align: middle;
                    width: calc(100% - 60px);
                    padding: 0px 0px 0px 3px;
                }
            }
        }
    }

    .lists-addlist {
        color: #999;
        font-size: 20px;
        font-weight: bold;
        border-radius: 4px;
        border: 3px dashed #999;
        text-align: center;
        width: 22%;
        margin: 20px 1.5%;
        transition:  .3s;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        position: relative;
        z-index: 2;
        
        &:hover {
            color: #666;
            border: 3px dashed #666;
        }
    }
}

.list-addwrapper {
    display: inline-block;
}