.paths-paths {
    width: 75%;
    position: relative;
    background-color: #f8efcd;
    position: absolute;
    min-height: 100%;
    
    .path {
        width: 220px;
        margin: 30px;
        display: inline-block;
        vertical-align: top;
        z-index: 2;
        position: relative;
        
        &.short .path-events {
            display: none;
        }
        
        input {
            outline: none;
            border: 0;
            border-bottom: 1px solid #999;
            width: 100%;
            text-align: center;
            background-color: transparent;
        }
        
        .path-options {
            text-align: right;
            position: relative;
            
            i {
                margin: 0px 3px;
                cursor: pointer;
                color: #ccc;
                transition: color .3s;
                vertical-align: middle;
                
                &:hover {
                    margin: 0px 3px;
                    color: #666
                }
            }
        }
        
        .path-events {
            text-align: center;
            
            &>div {
                white-space: nowrap;
                margin: auto;
                position: relative;
            }
            
            .event {
                border-radius: 50%;
                border: 3px solid #ccc;
                height: 52px;
                width: 52px;
                padding: 8px;
                
                &.selected {
                    transform: scale(1.15);
                }
                
                &:hover {
                    transform: scale(1.15);
                }
            }
            
            .path-events-props {
                position: absolute;
                margin: auto;
                width: 160px;
                white-space: normal;
                text-align: left;
                left: calc(50% + 32px);
                height: 100%;
                display: flex;
                align-items: center;
                top: 0px;
            }
        }
    }
    
    .paths-paths-drag  {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
}

.dz {
    display: block;
    border-radius: 50%;
    background-color: rgba(200, 200, 200, .3);
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 2px;
    border: 2px solid #ccc;
    color: #999;
    font-weight: bold;
    margin: auto;
    transition: .2s;
    cursor: default;
}

.dz-wrap {
  .draghover {
      background-color: pink;
      
      .dz {
          border: 2px solid #666;
          color: #666;
          display: block;
          border-radius: 50%;
          background-color: rgba(200, 200, 200, .3);
          height: 30px;
          width: 30px;
          text-align: center;
          padding: 2px;
          border: 2px solid #ccc;
          color: #999;
          font-weight: bold;
          margin: auto;
          transition: .2s;
          cursor: default;
      }
  }
}

.paths-addpath {
    color: #999;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    border: 3px solid #999;
    text-align: center;
    width: 60px;
    height: 60px;
    padding-top: 2px;
    margin: 20px 1%;
    transition: .3s;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 2;
    
    &:hover {
        color: #666;
        border: 3px solid #666;
    }
}

.ion-ios-eye {
    font-size: 21px;
    
    &.active {
        color: #666;
    }
}