.priority-selector {
  
    div {
        display: inline-block;
        background-color: #fff;
        height: 14px;
        width: 14px;
        border-radius: 50%;
        cursor: pointer;
        margin: 0px 6px;
        position: relative;
        top: 3px;
      
        &:before {
            background-color: rgba(30, 30, 30, .7);
            padding: 4px 6px;
            border-radius: 3px;
            top: -36px;
            left: -4px;
            position: absolute;
            display: none;
            color: #ccc;
            letter-spacing: .8px;
            content: attr(text);
        }
        
        &:after {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            position: absolute;
            display: block;
            content: " ";
            top: 2px;
            left: 2px;
            opacity: 0;
            transition: .3s;
        }
        
        &:hover {
            &:before {
                display: block;
            }
            
            &:after {
                opacity: .7;
            }
        }
        
        &.active:after {
            top: 0px;
            left: 0px;
            height: 14px;
            width: 14px;
            opacity: .7;
            box-shadow: 0px 0px 0px 3px #111;
        }
    }
  
    .after:after {
        background-color: gray;
    }
    
    .regular:after {
        background-color: #55b1df;
    }
    
    .high:after {
        background-color: #ffd400;
    }
    
    .critical:after {
        background-color: #e982a8;
    }
}
