.myswitch {
    display: inline-block;
    margin: 15px 10px 15px 0px;
    white-space: nowrap;
    
    input {
        width: auto;
        display: inline-block;
        position: relative;
        top: -1px;
    }
}